@mixin skeleton-basic($background-color: $default-background-color, $font-size: $default-font-size,
        $line-height: $default-line-height, $font-family: $default-font-family, $font-color: $default-font-color) {
    body {
        background: $background-color;
        font: #{$font-size}/#{$line-height} $font-family;
        color: $font-color;
        -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
        -webkit-text-size-adjust: 100%; }
}
