@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/text-shadow";

@mixin skeleton-buttons($button-background-color: $default-button-background-color, 
        $button-primary-border-color: $default-button-primary-border-color, $button-secondary-border-color: $default-button-secondary-border-color,
        $button-font-color: $default-button-font-color, $font-family: $default-font-family,
        $button-hover-background-color: $default-button-hover-background-color, $button-hover-font-color: $default-button-hover-font-color,
        $button-hover-primary-border-color: $default-button-hover-primary-border-color, $button-hover-secondary-border-color: $default-button-hover-secondary-border-color,
        $button-active-background-color: $default-button-active-background-color, $button-active-border-color: $default-button-active-border-color) {

    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        @include background-image(linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%));
        @include text-shadow(0 1px rgba(255, 255, 255, .75));
        background-color: $button-background-color;
        border: 1px solid $button-primary-border-color;
        border-top: 1px solid $button-secondary-border-color;
        border-left: 1px solid $button-secondary-border-color;
        padding: 4px 12px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: $button-font-color;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 20px;
        line-height: normal;
        padding: 8px 10px;
        font-family: $font-family; }

    .button:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover {
        @include background-image(linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%));
        background-color: $button-hover-background-color;
        color: $button-hover-font-color;
        border: 1px solid $button-hover-primary-border-color;
        border-top: 1px solid $button-hover-secondary-border-color;
        border-left: 1px solid $button-hover-secondary-border-color; }

    .button:active,
    button:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active {
        @include background-image(linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%));
        background-color: $button-active-background-color;
        border: 1px solid $button-active-border-color; }

    .button.full-width,
    button.full-width,
    input[type="submit"].full-width,
    input[type="reset"].full-width,
    input[type="button"].full-width {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; }

    /* Fix for odd Mozilla border & padding issues */
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0; }

}


@mixin skeleton-input($input-background-color: $default-input-background-color, $input-border-color: $default-input-border-color,
        $input-font-color: $default-input-font-color, $input-font-size: $default-input-font-size, $input-font-family: $default-font-family,
        $input-focus-border-color: $default-input-focus-border-color, $input-focus-font-color: $default-input-focus-font-color,
        $legend-font-size: $default-legend-font-size, $legend-font-color: $default-legend-font-color) {

    form { margin-bottom: 20px; }
    fieldset { margin-bottom: 20px; }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select {
        border: 1px solid $input-border-color;
        padding: 6px 4px;
        outline: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font: $input-font-size $input-font-family;
        color: $input-font-color;
        margin: 0;
        width: 210px;
        max-width: 100%;
        display: block;
        margin-bottom: 20px;
        background: $input-background-color; }
    select { padding: 0; }
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        @include box-shadow(0 0 3px rgba(0,0,0,.2));
        border: 1px solid $input-focus-border-color;
        color: $input-focus-font-color; }
    textarea { min-height: 60px; }
    label,
    legend {
        display: block;
        font-weight: bold;
        font-size: $input-font-size;  }
    select { width: 220px; }
    input[type="checkbox"] { display: inline; }
    label span,
    legend span {
        font-weight: normal;
        font-size: $legend-font-size;
        color: $legend-font-color; }

}
