{% extends "base.html" %}
{% load i18n %}

{% block site_title %}{% trans "Ocorreu um erro interno - 500" %}{% endblock %}
{% block meta_robots %}noindex,nofollow{% endblock %}

{% block content_class %}error500{% endblock %}

{% block content %}
    <section>
        <h2 class="title">{% trans "Ocorreu um erro ao exibir esta página" %}</h2>

        <p class="notice">{% trans "Alguma coisa deu errada! Nossos administradores foram notificados. Tente novamente mais tarde." %}</p>

        <p><a href="{% url diario-entry-list %}"
            title="{% trans "Página inicial" %}">{% trans "Ir para a página inicial" %}.</a>
        </p>
    </section>
{% endblock %}
