.search {
    .pagination { margin-top: 50px; }
}

.result {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;

    p {
        color: #999;
        font-size: $default-font-size - 4;
        margin-bottom: -5px;
        text-transform: uppercase; }
}
