@import "compass/css3/border-radius";
@import "compass/css3/inline-block";

.pagination {
    margin-bottom: 50px;

    a { 
        @include inline-block;
        margin-right: 2px;
        padding: 5px 12px; }

    .current {
        @include border-radius;
        background: $default-link-color;
        color: white; }
}
