{% extends "base.html" %}
{% load i18n %}

{% block site_title %}{% trans "Contato" %}{% endblock %}
{% block meta_robots %}noindex,nofollow{% endblock %}

{% block content_class %}contact{% endblock %}

{% block content %}
    <section>
        <h2 class="title">{% trans "Contato" %}</h2>

        {% include "messages.html" %}

        <p>{% blocktrans %}Dúvidas? Sugestões? Precisando de um Freelancer? 
        Entre em contato comigo através do formulário abaixo. Assim que possível
        entrarei em contato.{% endblocktrans %}</p>

        <form action="{% url contact-contact %}" method="post" id="contact-form">
            {% csrf_token %}

            {% with field=form.name %}
                <p>
                    {{ field.label_tag }}

                    <input type="text" id="id_name" name="name" maxlength="100"
                        {% if field.value %}value="{{ field.value }}"{% endif %} required placeholder="{% trans "Seu nome" %}">

                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {{ field.errors }}
                </p>
            {% endwith %}

            {% with field=form.email %}
                <p>
                    {{ field.label_tag }}

                    <input type="email" id="id_email" name="email"
                        {% if field.value %}value="{{ field.value }}"{% endif %} required placeholder="{% trans "seu-email@provedor.com.br" %}">

                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {{ field.errors }}
                </p>
            {% endwith %}

            {% with field=form.subject %}
                <p>
                    {{ field.label_tag }}

                    <input type="text" id="id_subject" name="subject" maxlength="255"
                        {% if field.value %}value="{{ field.value }}"{% endif %} required placeholder="{% trans "Título da mensagem" %}">

                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {{ field.errors }}
                </p>
            {% endwith %}

            {% with field=form.message %}
                <p>
                    {{ field.label_tag }}

                    <textarea id="id_message" name="message" rows="10" cols="40"
                        required placeholder="{% trans "Insira a mensagem..." %}">{% if field.value %}{{ field.value }}{% endif %}</textarea>

                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {{ field.errors }}
                </p>
            {% endwith %}

            <p>
                <input type="submit" value="{% trans "Enviar" %}" class="button">
            </p>
        </form>
    </section>
{% endblock %}
