{% extends "base.html" %}
{% load i18n core_extras %}

{% block site_title %}{{ job.description|escape }}{% endblock %}
{% block meta_robots %}index,nofollow{% endblock %}

{% block content_class %}job-detail{% endblock %}

{% block content %}
    <article class="job" itemscope itemtype="http://schema.org/CreativeWork">
        {% include "portfolio/includes/header.html" %}

        <div class="complete">{{ job.details|full_content|safe }}</div>

        {% if job.formatted_image %}
            <div class="preview">
                {% if job.href %}
                    <a href="{{ job.href }}" title="{% trans "Visite o resultado do trabalho" %}">
                        <img src="{{ job.formatted_image.url }}" alt="{% trans "Preview do trabalho" %}" itemprop="image">
                    </a>
                {% else %}
                    <img src="{{ job.formatted_image.url }}" alt="{% trans "Preview do trabalho" %}" itemprop="image">
                {% endif %}
            </div>
        {% endif %}

        {% if job.my_role or job.working_regime or job.i_used_the %}
        <dl class="professional-details">
            {% if job.my_role %}
                <dt>{% trans "Meu papel" %}:</dt>
                <dd>{{ job.my_role }}</dd>
            {% endif %}
            {% if job.working_regime %}
                <dt>{% trans "Regime de trabalho" %}:</dt>
                <dd>{{ job.working_regime }}</dd>
            {% endif %}
            {% if job.i_used_the %}
                <dt>{% trans "O que utilizei" %}:</dt>
                <dd>{{ job.i_used_the }}</dd>
            {% endif %}
        </dl>
        {% endif %}

        {% include "portfolio/includes/footer.html" %}
    </article>
{% endblock %}
