/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
    #Sass Variables
    #Reset & Basics
    #Basic Styles
    #Site Styles
    #Typography
    #Links
    #Lists
    #Images
    #Buttons
    #Tabs
    #Forms
    #Misc */


/* #Sass variables
================================================== */
$default-background-color:  #fff;
$default-font-size:         14px;
$default-line-height:       21px;
$default-font-family:       "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-font-color:        #444;
$default-font:              $default-font-size/$default-line-height $default-font-family;

$default-header-color:      #181818;
$default-header-font:       "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
$default-h1-font-size:      46px;
$default-h1-line-height:    50px;
$default-h2-font-size:      $default-h1-font-size - 11;
$default-h2-line-height:    $default-h1-line-height - 10;
$default-h3-font-size:      $default-h2-font-size - 7;
$default-h3-line-height:    $default-h2-line-height - 6;
$default-h4-font-size:      $default-h3-font-size - 7;
$default-h4-line-height:    $default-h3-line-height - 4;
$default-h5-font-size:      $default-h4-font-size - 4;
$default-h5-line-height:    $default-h4-line-height - 6;
$default-h6-font-size:      $default-h5-font-size - 3;
$default-h6-line-height:    $default-h5-line-height - 3;
$default-subheader-color:   #777;

$default-lead-font-color:   #777;
$default-lead-font-size:    21px;
$default-lead-line-height:  27px;

$default-strong-font-color:         #333;
$default-blockquote-border-color:   #ddd;
$default-blockquote-font-color:     #777;
$default-blockquote-font-size:      17px;
$default-blockquote-line-height:    24px;
$default-blockquote-link-color:     #555;
$default-cite-font-color:           #555;
$default-cite-font-size:            12px;

$default-link-color:            #333;
$default-link-hover-color:      #000;
$default-link-text-decoration:  underline;

$default-button-background-color:       #eee;
$default-button-font-color:             #444;
$default-button-primary-border-color:   #aaa;
$default-button-secondary-border-color: #ccc;
$default-button-hover-background-color:         #ddd;
$default-button-hover-font-color:               #222;
$default-button-hover-primary-border-color:     #888;
$default-button-hover-secondary-border-color:   #aaa;
$default-button-active-background-color:    #ccc;
$default-button-active-border-color:        #666;

$default-input-background-color:    #fff;
$default-input-border-color:        #ccc;
$default-input-font-color:          #777;
$default-input-font-size:           13px;
$default-input-focus-border-color:  #aaa;
$default-input-focus-font-color:    #444;
$default-legend-font-size:  13px;
$default-legend-font-color: #444;


@import "partials/reset";
@import "partials/basic";
@import "partials/typography";
@import "partials/form";
@import "partials/misc";


@mixin skeleton-base {

    /* #Reset & Basics (Inspired by E. Meyers)
    ================================================== */
    @include skeleton-reset;

    /* #Basic Styles
    ================================================== */
    @include skeleton-basic;

    /* #Typography, Links, Lists and Images
    ================================================== */
    @include skeleton-header-typography;
    @include skeleton-typography;

    /* #Buttons
    ================================================== */
    @include skeleton-buttons;

    /* #Forms
    ================================================== */
    @include skeleton-input;

    /* #Misc
    ================================================== */
    @include skeleton-misc;

}
