{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Are you sure?" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../">{% trans "Home" %}</a> &rsaquo;
    <a href="../../">{% trans "Media Manager" %}</a> &rsaquo;
    {% trans "Delete" %}
</div>
{% endblock %}

{% block content_title %}<h1>{% trans "Are you sure?" %}</h1>{% endblock %}

{% block content %}
    <p>{% blocktrans with file.url as url %}Are you sure you want to delete the image
        "{{ url }}" ?{% endblocktrans %}</p>

    <form action="" method="post">
        {% csrf_token %}

        <div>
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="{% trans "Yes, I'm sure" %}" />
        </div>
    </form>
{% endblock %}
